*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 30px;
}

body{
    background-color: aqua;
}

form{
    
    align-items: center;
}

div{
    height: auto;
    background-color: azure;
    display: block;
    margin-top: 100px;
    margin-bottom: 3px;
    border: 2px solid;

}

.title{
    display: flex;
    text-align: center;
    border: 2px solid;
}

.title1{
    border: 2px  solid;
}

.title2{
    border: 2px solid;
}

img{
    display: flex;
    width: 100%;
    height: auto;
}
