*{
    margin: 0;
    padding: 0;
    border: 2px solid;
    box-sizing: border-box;
    font-size: 30px;
}

body{
    background-color: aqua;
}

form{
    
    align-items: center;
}

div{
    height: auto;
    background-color: azure;
    display: block;
    margin-top: 100px;
    margin-bottom: 3px;

}
